/*
 * resource.rc
 *
 * Copyright (C) Jon Turney 2015
 *
 * This file is part of xwin-xdg-menu
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice (including the next
 * paragraph) shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 *
 */

#include <windows.h>
#include "resource.h"
#include "version.h"

IDI_TRAY                ICON    "hippo.ico"
IDI_XWIN                ICON    "X.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID      RT_MANIFEST     "xwin-xdg-menu.exe.manifest"

IDM_SETTINGS_MENU MENU
BEGIN
  MENUITEM "&About...", ID_APP_ABOUT
  MENUITEM "View &logfile", ID_APP_LOGFILE
  POPUP "Icon &size"
  BEGIN
    MENUITEM "Default", ID_SIZE_DEFAULT
    MENUITEM "16x16",  ID_SIZE_16
    MENUITEM "32x32", ID_SIZE_32
    MENUITEM "48x48", ID_SIZE_48
    MENUITEM "64x64", ID_SIZE_64
  END
  MENUITEM "E&xit...", ID_APP_EXIT
END

IDD_ABOUT DIALOGEX 0, 0, 260, 80
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_CENTERMOUSE | DS_SHELLFONT | DS_MODALFRAME
CAPTION "About xwin-xdg-menu"
FONT 8, "MS Shell Dlg 2"
BEGIN
  ICON    IDI_XWIN, IDC_STATIC, 8, 8, 32, 32, SS_ICON
  LTEXT   "xwin-xdg-menu " GIT_VERSION, IDC_STATIC, 36, 8, 220, 8
  LTEXT   "An XDG Desktop Menu Specification menu", IDC_STATIC, 36, 28, 220, 8
  LTEXT   "", IDC_DISPLAY, 36, 48, 220, 8
  DEFPUSHBUTTON "&OK", IDOK, 105, 60, 50, 15
END
